<footer class="py:32 px:24 text:center">
    <div class="f:fade-30 f:14 mb:8">{{ .Site.Params.copyright }}</div>
    <div class="social-icons" style="display: flex; justify-content: center;">
        <a href="https://www.instagram.com/otherfacesmusic/" 
            class="social-icon" 
            style="margin: 0 10px 0 0;">
            <img src="/instagram_icon.webp" 
                alt="Instagram" 
                style=
                    "width: 30px; 
                    height: 30px;">
        </a>
        <a href="https://www.youtube.com/channel/UClUZXG8CG-_LWJSuxisJ3Aw"
            class="social-icon"
            style="margin: 0 10px 0 0;">
            <img src="/youtube_icon.webp"
                alt="YouTube"
                style=
                    "width: 30px;
                    height: 30px;">
        </a>
        <a href="https://otherfacesband.bandcamp.com/album/other-faces"
            class="social-icon"
            style="margin: 0;">
            <img src="/bandcamp_icon.png"
                alt="bandcamp"
                style=
                    "width: 30px;
                    height: 30px;">
        </a>
    </div>
</footer>
